body{
    display: flex;
    justify-content: center;
    background-image: url("https://picsum.photos/1920/1080");
    background-position: center;
    background-size: cover;
}

#chat_container{
    width: 70%;
    height: 90vh;
    padding: 10px;
    margin: 10px;

}

#messages_container{
    height: 80%;
    width: 100%;
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    opacity: .9;

}

#messages_container p{
    padding: 15px;
    font-family: cursive;
    margin:14px 10px;

}

.messages_container_user {
    background-color:rgb(127, 250, 148);
    align-self: flex-end;
    
}

.messages_container_otherUser {
    background-color:rgb(91, 112, 230);
    align-self: flex-start;
}



#controls{
    padding: 20px;
}

#controls input{
    width: 80%;
    padding: 10px;
}

#controls input , button{
    padding: 5px;
}